.link {
  color: rgba(29, 29, 29, 0.6);
  text-decoration: none;
  transition: all 0.15s;

  &:hover,
  &:active {
    color: #333333;
  }

  &Active {
    border-bottom: solid 2px #62bec1;
  }
}

.container {
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;

  &-item {
    text-decoration: none;
  }
}
